spring:
  application:
    name: mini-banking

  datasource:
    url: jdbc:mysql://localhost:3306/mini_banking
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 9432
  servlet:
    context-path: /

jwt:
  access-token:
    token: "qwertyuiopasdfghjklzxcvbnm"
    duration: 86400000
  refresh-token:
    token: "abcdefghijklmnopqrstuvwxyz"
    duration: 60480000
